body{
    position: absolute;
    margin: 0;
    padding: 0;
}

.btn{
    border: 0;
    border-radius: 2px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    outline: 0;
    letter-spacing: 1px;
}