body {
    position: absolute;
    margin: 0;
    padding: 0;
}

p {
    font-family: 'Archivo Black', sans-serif;
}

h1 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 30px;
}

h2 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 20px;
}

.btn {
    background-color: #DDD;
    border: 0;
    border-radius: 2px;
    font-size: 14px;
    text-transform: uppercase;
    outline: 0;
    letter-spacing: 1px;
}

.btn:hover {
    background-color: #CCC;
}

.doubleArrow {
    float: left;
}